body {
    padding: 0 30px;
    background-color: bisque;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav > ul > li > a {
    text-decoration: none;
    padding: 20px;
}

nav > ul > li > a:hover {
    color: red;
}